.divfilms{
    background-image: url('fundoHome.png');
    display: table;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}.ptex1{
    background-color: rgb(97, 97, 231);
    border-radius: 10%;
    font-size: 30px;
    text-align: center;
    height: 4vh;
    

}.divbox{
    width: 100%;
	display: flex;
    text-align: center;
    
}.img{
    max-width: 15%;
    max-height: 15%;
    display: inline-block;
    width: 20%;
    margin-left: 43%;
    
    
}.p{
    margin-left: 40%;
    background-image: linear-gradient(to right, rgb(219, 20, 20), rgb(112, 18, 18));
    border-color: rgb(167, 36, 36) ;
    width: 20%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #ca4218;
    cursor: pointer;
}.divimg{
    
    display: inline-block;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    
    
    
}.h1{
    text-align: center;
    color: rgb(240, 248, 255);   
    font-family: Ghibli;
    margin: 20px;

    
}.containerdesc{
    color: azure;
    width: 30%; 
    margin: 10px;
    font-size: 15px;

}.title{
    color: azure;
    font-size: 15px;
}.button{
    height: 30px;   
    border-radius: 50px;
    border-color: pink;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(155, 23, 104), rgb(90, 11, 64));
    box-shadow: 5px 5px 5px #500e61;
    font-family: Ghibli;
    color: #ffffff;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 2%;
    
}
.button[type="button"]:hover{
    transition: .5s;
    background-image: linear-gradient(to right, rgb(150, 20, 100), rgb(56, 2, 38));
    height: 50px;
    box-shadow: 5px 5px 5px #7c0799;
}.divh1{
    background-image: linear-gradient(to right, rgb(150, 20, 100), rgb(56, 2, 38));
    width: 70%;
    height: 3vh;
    margin-left: 15%;
    border-radius: 50px;
}.divbuttom{
    margin-left: 50%;
}.p1{
    display: flex;
    color: #ffffff;
}.p2{
    font-size: 30px;
    color: #ffffff;
}