.divfilms{
    background-image: url('fundoHome.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}.ptex1{
    background-color: rgb(97, 97, 231);
    border-radius: 10%;
    font-size: 30px;
    text-align: center;
    height: 4vh;
    

}.divbox{
    width: 100%;
	display: flex;
    text-align: center;
    
}.img{
    max-width: 15%;
    max-height: 15%;
    display: inline-block
    
}.p{
    margin-left: 40%;
    background-image: linear-gradient(to right, rgb(219, 20, 20), rgb(112, 18, 18));
    border-color: rgb(167, 36, 36) ;
    width: 20%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #ca4218;
    cursor: pointer;
}.divimg{
    margin-left: 10%; 
    display: inline-block
    
    
    
}.h1{
    text-align: center;
    color: aliceblue;
}.containerdesc{
    color: azure;
    width: 30%; 
    margin: 10px;
    font-size: 15px;

}.title{
    color: azure;
    font-size: 15px;
}
