.imgStudio{
    max-width: 10%;
    max-height: 10%;
}
.divGotoGhibliSite{
    margin-left: 2%;
    top: 5%
}
.botoesConteiner{
    position: absolute;
    width: 100%;
    text-align: end;
    margin-right: 5%;
    top: 30px;
}
.button{
    height: 30px;   
    border-radius: 50px;
    border-color: pink;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(155, 23, 104), rgb(90, 11, 64));
    box-shadow: 5px 5px 5px #500e61;
    font-family: Ghibli;
    color: #ffffff;
    font-size: 20px;
    margin-right: 5%;
}
.button[type="button"]:hover{
    transition: .5s;
    background-image: linear-gradient(to right, rgb(150, 20, 100), rgb(56, 2, 38));
    height: 50px;
    box-shadow: 5px 5px 5px #7c0799;
}