.divConteiner{
    background-image: linear-gradient(to bottom right, rgb(11, 98, 197), rgb(30, 206, 147)) ;
    display: table;
    width: 100%;
    height: 100vh;
}.divConteinerChihiro{
    position: absolute;
    top: 30%;
    left: 2%;
    width: 35%;
    
}
.filmName{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-family: Ghibli;
}
.filmTxt{
    font-size: 18px;
    color: pink;
    font-family: GhibliBold;
}
.filmButton{
    margin-left: 65%;   
    background-image: linear-gradient(to right, rgb(219, 20, 20), rgb(112, 18, 18));
    border-color: rgb(167, 36, 36) ;
    height: 5vh;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #ca4218;
    cursor: pointer;
}
.imgCenter{
    margin-left: 50%;
    width: 35%;
    margin-top: 5%;
}